.views-widget-advanced-fieldset {width:100%; clear:both; padding-top:0 !important}
.veft-expanded {width:100%; clear:both}
.veft-collapsed {width:auto; padding-top:1.35em !important; clear:none}
.veft-collapsed fieldset {padding:0}